In [1]:
import pandas as pd
import numpy as np

Here are the versions of the libraries I am using:

In [3]:
print('Pandas Version:', pd.__version__, 
      '\nNumpy Version:', np.__version__)

Pandas Version: 2.2.2
Numpy Version: 1.24.3

Let's create a DataFrame consisting of a column: Floats.
- **Floats:** Contains `1,000` values drawn from a standard normal distribution.

In [4]:
# Create the DataFrame
df = pd.DataFrame({
    'Floats': np.random.randn(1000)
})

# Display the first 3 rows of the DataFrame
df.head(3)

     Floats
0  0.893647
1  0.644130
2 -1.083868

Let's look at descriptive statistics.

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Floats,1000.0,0.020669,0.99946,-3.586532,-0.663507,-0.002046,0.701838,3.633645

In [21]:
def custom_transform(row):
    if row['Floats'] > 3: return '>3'
    elif row['Floats'] > 2: return '>2'
    elif row['Floats'] > 1: return '>1'
    elif row['Floats'] > 0: return '>0'
    elif row['Floats'] < -3: return '<-3'
    elif row['Floats'] < -2: return '<-2'
    elif row['Floats'] < -1: return '<-1'
    elif row['Floats'] < 0: return '<0'
    else: return 'ZERO'

Apply the custom_transform function to each row

In [22]:
df['Category'] = df.apply(custom_transform, axis=1)

In [25]:
df.Category.unique()

array(['>0', '<-1', '<0', '>1', '>2', '<-2', '>3', '<-3'], dtype=object)

In [34]:
df.pivot(columns='Category').describe().T

                 count      mean       std       min       25%       50%  \
       Category
Floats <-1       126.0 -1.396362  0.285769 -1.992766 -1.649230 -1.322080
       <-2        21.0 -2.250408  0.204066 -2.681007 -2.378140 -2.169285
       <-3         2.0 -3.398177  0.266373 -3.586532 -3.492354 -3.398177
       <0        352.0 -0.453565  0.285500 -0.999576 -0.696570 -0.430061
       >0        325.0  0.469536  0.284942  0.001684  0.219103  0.465097
       >1        157.0  1.374814  0.261476  1.002326  1.177605  1.306742
       >2         16.0  2.390098  0.272463  2.034630  2.199533  2.290771
       >3          1.0  3.633645       NaN  3.633645  3.633645  3.633645

                      75%       max
       Category
Floats <-1      -1.147028 -1.002788
       <-2      -2.064110 -2.021492
       <-3      -3.304000 -3.209823
       <0       -0.208010 -0.000293
       >0        0.696487  0.992475
       >1        1.559829  1.977521
       >2        2.608258  2.940748
       >3        3.633645  3.633645

Alternative: pd.cut